.Footer {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0; /* Set horizontal padding to 0 */
  border-top: 2px solid #333;
  margin-top: 30px;
  width: 50%; /* Ensure the footer is full width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}