@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-family: 'Righteous', cursive;
  color: #000000;
}

.Header nav ul li a.rejoindre-button {
  background-color: #DE3AE1;
  /* button background color */
  color: #ffffff;
  /* button text color */
  padding: 10px 20px;
  /* button padding */
  border-radius: 5px;
  /* rounded corners */
  border: none;
  /* no border */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  /* smooth color transition */
}

.Header nav ul li a.rejoindre-button:hover {
  background-color: #4861E5;
  /* button hover background color */
  color: #000000;
  /* button hover text color */
}

/* le reste du CSS reste le même */
.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
  height: 80px;
}

.Header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.Header nav ul li {
  margin-right: 60px;
}

.Header nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.2s ease-in-out;
}

.Header nav a:hover {
  color: #4861E5
}

.Header nav .active {
  color: #4861E5
}

.Header nav{
  margin-right: 20px;
}