.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff00cc, #333399); /* Dégradé Synthwave */
    color: white;
    font-family: 'Synthwave', sans-serif; /* Utilisez une police Synthwave si disponible */
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px #ff00cc; /* Ombre portée néon */
  }
  
  .App p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .App-link {
    background: linear-gradient(45deg, #ff00cc, #333399);
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
  }
  
  .App-link:hover {
    background: linear-gradient(45deg, #ff00cc, #444499);
  }
  
  footer {
    margin-top: 5rem;
    font-size: 1rem;
  }
  